<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="./packages" />
  </config>

  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github" value="https://nuget.pkg.github.com/RRoberts4382/index.json" />
    <packageSourceCredentials>
        <github>
            <add key="Username" value="RRoberts4382" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
  </packageSources>

  <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="github">
      <package pattern="rNascar23*" />
    </packageSource>
  </packageSourceMapping>
</configuration>